.row{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.col{
    background-color: rgb(27, 109, 202);
    height: 100px;
    padding: 1%;
    flex: 1;
    margin: 1%;
}

.col-2{
    background-color: rgb(27, 109, 202);
    height: 100px;
    padding: 1%;
    flex: 2;
    margin: 1%;
}

.col-3{
    background-color: rgb(27, 109, 202);
    height: 100px;
    padding: 1%;
    flex: 3;
    margin: 1%;
}